{% extends 'tweets/base.html' %}


{% block title %}Bem Vindo {% endblock %}

{% block content %}
    Entao vamos nessa !!

<div id="tweets">
    Tweet me
</div>


<script>
    const tweetsElements = document.getElementById("tweets")
    tweetsElements.innerHTML = 'Loading ...'

    const xhr = new XMLHttpRequest() //
    const method = 'GET' //POST
    const url = "/tweets"
    const responseType = "json"


    function formatTweetElement(tweet){
        var formatTweet = `<div class="mb-4 tweet" id=tweet-${tweet.id}> <p>${tweet.content}</p></div>`
        return formatTweet
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        console.log(xhr.response)
        const serverResponse = xhr.response
        var listItems = serverResponse.response
        var tweetFinal = ""
        var i

        for(i=0; i<listItems.length; i++){
            var tweetObj = listItems[i]
            var currentItem = formatTweetElement(tweetObj)
            tweetFinal += currentItem
        }

        tweetsElements.innerHTML = tweetFinal
    }

    xhr.send()

</script>    
{% endblock %}