{% extends 'tweets/base.html' %}
{% block title %}Bem Vindo {% endblock %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Entao vamos nessa !!</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" method="POST" action="/create-tweet">
            {% csrf_token %}
            <input type="hidden" value="/" name="next" />
            <textarea class="form-control" name="content" placeholder="Tweet here"></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>
    

<div class="row" id="tweets">
    Tweet me
</div>


<script>
    const tweetsEl = document.getElementById("tweets")
    tweetsEl.innerHTML = 'Loading ...'
    
    function handleFormDidSubmit(event){
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
      
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function(){
            const serverResponse = xhr.response
            console.log(xhr.status, serverResponse)
            const tweetsEl = document.getElementById("tweets")
            loadTweets(tweetsEl)
        }
        xhr.send(myFormData)
    }
    const tweetCreateFormEl = document.getElementById("tweet-create-form")
    tweetCreateFormEl.addEventListener("submit", handleFormDidSubmit)

    function loadTweets(tweetsElements){
        const xhr = new XMLHttpRequest() //
        const method = 'GET' //POST
        const url = "/tweets"
        const responseType = "json"

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function(){
            console.log(xhr.response)
            const serverResponse = xhr.response
            var listItems = serverResponse.response
            var tweetFinal = ""
            var i

            for(i=0; i<listItems.length; i++){
                var tweetObj = listItems[i]
                var currentItem = formatTweetElement(tweetObj)
                tweetFinal += currentItem
            }

            tweetsElements.innerHTML = tweetFinal
        }

        xhr.send()
    }

    loadTweets(tweetsEl)

    function  handleDidLike(tweet_id, currentCount){
        console.log(tweet_id, currentCount)
    }

    function likeButton(tweet){
        return `<button class='btn btn-primary mb-2' onClick=handleDidLike(${tweet.id},${tweet.likes})>${tweet.likes}Like</div>`
    }

    function formatTweetElement(tweet){
        var formatTweet = `<div class="col-12 col-md-10 mx-auto rounded border py-3 mb-4 tweet" id=tweet-${tweet.id}><p>${tweet.content}${likeButton(tweet)}</p></div>`
        return formatTweet
    }
</script>    
{% endblock %}